GammaCCSWorkspace
ThetaCCSWorkspace
settings
*.bak
path.txt
.DS_Store
Stack/Application/.DS_Store
Stack/ProjectCCS/*
Watch/.DS_Store
Watch/Application/*-?.*
Watch/Hardware/*-?.*
Watch/Project/.DS_Store
Watch/Project/Devboard/
Watch/Project/Digital/
Watch/Project/Gen1/*
Watch/Project/*/Obj/
Watch/Project/*/List/
Watch/ProjectCCS/Gen1/*
Watch/ProjectCCS/Gen2/*
Watch/ProjectCCS/.cdtbuild_initial
Watch/ProjectCCS/.project_initial
Watch/ProjectCCS/.settings/
Watch/ProjectCCS/.metadata/
meta.xcodeproj
*-bk.*
*-p.*
*-w.*
*.tmp
*-*.a
*-*.lib
Back*.*
*.sfr
*copy.*
*new.*
*Reduced.*
.metadata

